<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>
  <main class="container">

  <% include ../static/partials/navbar.ejs %>
    <a class="btn btn-outline-primary btn-sm" href='/main'>&#x21E6;</a>
      <div class="topics-header">
        <h1>Bloccit Topics</h1>
        <h2>Explore the world of:</h2>
      </div>

      <div class="container">
        <ul class="list-group">
          <% topics.forEach((topic) => { %>
            <li class="list-group-item">
              <a href="/topics/<%= topic.id %>">
                <%= topic.title %>
              </a>
            </li>
            <% }) %>
        </ul>
      </div>
      <br>
      <% if(currentUser && currentUser.isAdmin()) { %>
        <a href="/topics/new" class="btn btn-outline-primary">New Topic</a>
      <% } %>
      <% include ../static/partials/baseScripts.ejs %>
  </main>
</body>

</html>
