<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <main class="container">

    <% include ../partials/navbar.ejs %>

      <h1>Topics</h1>
      <div class="container">
        <h2>Explore the world of:</h2>
        <ul class="list-group">
          <% topics.forEach((topic) => { %>
            <li class="list-group-item">
              <a href="/topics/<%= topic.id %>">
                <%= topic.title %>
              </a>
            </li>
            <% }) %>
        </ul>
      </div>
      <br>
      <a href="/topics/new" class="btn btn-primary btn-sm">Create New Topic</a>
      <% include ../partials/baseScripts.ejs %>
  </main>
</body>

</html>
