<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body>

    <!-- Page Content -->
    <main class="container">
      <div id="landing-header">
        <h1>Welcome to Bloccit!</h1>
        <a href="/main" class="btn btn-lg btn-primary">Connect to the World</a>
        </div>

        <ul class="slideshow-landing">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
    </main>
    <!-- /.container -->

    <!-- Scripts for Bootstrap -->
    <% include ./partials/baseScripts.ejs %>
</body>

</html>
