<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head.ejs %>
</head>

<body>
	<% include ../partials/navbar.ejs %>

		<main class="container">
			<h1>Advertisements</h1>
			<a href="/advertisements/new">
				<button class="btn btn-primary">New Advertisement</button>
			</a>

			<ul class="list-group">
				<% adverts.forEach((advert) => { %>
					<li class="list-group-item">
						<a href="/advertisements/<%= advert.id %>">
							<%= advert.title %>
						</a>
						<p>
							<%= advert.description %>
						</p>
					</li>
					<% }) %>
			</ul>
		</main>

		<% include ../partials/baseScripts.ejs %>
</body>

</html>
